body {
  background-color: #F2F2F2;
}

.drag-drop-zone{
  display: flex;
  justify-content: center;
}

.header-bar {
  align-items: center;
  background-color: white;
  display: flex;
  height: 130px;
  justify-content: space-between;
}

.menu-button {
  background-color: #268129;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.menu-button:hover{
  background-color: #4CAF50;
  color: white;
}

.options-menu {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
